<%= link_to 'truth no dare', root_path, id: "logo" %>
<div class="container">
  <h2 class="<%= "title-#{@board.theme}" %>"><%= @board.title %></h2>

  <%= render 'questions/open_questions', { open_qs: @open_qs, theme: @board.theme } %>

  <%= render 'answers/answers', { answers: @answers, theme: @board.theme } %>
</div>
