<h2><%= @board.title %></h2>

<div data-controller="new-question">
  <button data-action="click->new-question#showForm">New Question</button>

  <div data-target="new-question.modal" class="modal hide-modal">
    <%= render 'boards/partials/new_question' %>
  </div>
</div>

<% @open_qs.each do |question| %>
  <%= render 'boards/partials/question_card', { question: question, answered: false } %>
<% end %>

<% @answers.each do |answer| %>
  <div class="qna-wrapper">
    <%= render 'boards/partials/question_card', { question: answer.question, answered: true } %>
    <%= render 'boards/partials/answer_card', answer: answer %>
  </div>
<% end %>
